@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<p>
    <ul>
        <li><strong>Person 1:</strong> Oh man, my dad's such a hardass.</li>
        <li><strong>Person 2:</strong> Yeah, what did he do?</li>
        <li><strong>Person 1:</strong> He kicked me out of the house and enrolled me in the army just for skipping one class.</li>
        <li><strong>Person 2:</strong> Shiiiit! WHAT a hardass.</li>
        <li><strong>Person 1:</strong> Duuuude, I know.</li>
    </ul>
</p>
